:root {
  --primary: #444655;
  --secondary: #FFBD6D;
  --white: #eee;
  --black: #111;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-condensed-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  color: var(--white);
  letter-spacing: 0.1em;
  height: 100%;
}

.main {
  padding: 2rem;
}

.menu {
  /* like a container on small screens */
  width: 80%;
  margin: 0 auto;

  margin-top: 10vh;
  padding-left: 0;
}

/* centralize on large screens */
@media(min-width: 750px) {
  .menu {
    width: max-content;
  }
}

.menu__item {
  font-size: clamp(1.5rem, 3.5vw, 1.6rem);
  list-style: none;
}

.menu__item ~ .menu__item {
  margin-top: 2em;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.menu__link:hover {
  color: var(--secondary);
}

/* Arrows */
.menu__link:hover::before {
  content: '';
  position: absolute;
  left: -0.9em;
  top: 0.4em;
  border: solid var(--secondary);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
}

.hostname {
  font-size: 1.3rem;
  color: var(--black);
  font-style: italic;
}

.logo {
  height: 25vh;
  fill: var(--black);
}

.logo__container {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: -1;
  text-align: center;
}
