:root {
  --primary: #444655;
  --secondary: #FFBD6D;
  --white: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  color: var(--white);
  letter-spacing: 0.1em;
  height: 100%;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* Arrows */
.menu__link:hover::before {
  content: '';
  position: absolute;
  left: -0.9em;
  top: 0.4em;
  border: solid var(--secondary);
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
}

.menu-container {
  min-width: 100%;
}

.menu {
  margin-top: 15vh;
  padding-left: 0;
  text-align: center;
}

.menu__item {
  font-size: clamp(1.3rem, 3.5vw, 1.6rem);
  list-style: none;
}

.menu__item ~ .menu__item {
  margin-top: 2em;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.menu__item:hover {
  color: var(--secondary);
}

.hostname {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.3rem;
  opacity: 0.8;
}

.logo {
  height: 25vh;
}

.logo__container {
  width: 100%;
  position: fixed;
  bottom: 0.5rem;
  text-align: right;
  z-index: -1;
}
