* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: #eee;
  letter-spacing: 0.1em;
  height: 100%;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

.arrow {
  border: solid #7067a5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  margin-right: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  visibility: hidden;
}

.menu {
  margin-top: 3em;
}

.menu__item {
  font-size: clamp(1.4rem, 4vw, 1.7rem);
  list-style: none;
  margin-top: 2em;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.menu__item:hover {
  color: #7067a5;
}

.menu__item:hover > .arrow {
  visibility: visible;
}

.hostname {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.3rem;
  opacity: 0.8;
}

.logo {
  height: 30vh;
}

.logo__container {
  width: 100%;
  position: fixed;
  bottom: 0.5rem;
  text-align: center;
  z-index: -1;
}
